html {
    height: 100%;
}

body {
    background-color: #f4f4e9;;
    margin: 0;
    padding: 0;
    height: 100%;
}

@font-face {
    font-family: Cafeta;
    src: url('CAFETA__.TTF');
}

@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('/static/semantic/fonts/modernpics-webfont.eot');
    src: url('/static/semantic/fonts/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/semantic/fonts/modernpics-webfont.woff') format('woff'),
    url('/static/semantic/fonts/modernpics-webfont.ttf') format('truetype'),
    url('/static/semantic/fonts/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    margin: 0;
    height: 100%;
}

header {
    display: block;
    background-color: #e1d5ad;
    height: 50px;
    box-shadow: 0 0 5px 3px #e1d5ad;;
}

img.buyutec {
    float: left;
    width: 30px;
    height: 30px;
}

input.searchinput {
    margin-left: 15px;
    width: 180px;
    height: 20px;
}

/* page core */
div.core {
    display: block;
    clear: both;
    margin: 0;
    padding: 0px 10px 10px 0px;
    height: 100%;
}

section.space {
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
    width: 80%;
    float: left;
}

section.right {
    float: left;
    width: 20%;
    background-color: #dfddc8;
    margin: 0;
    margin-bottom: 10px;
    height: 100%;
    box-shadow: 0 0 5px 3px #dfddc8;
}

div.right_inner {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 100%;
}

footer {
    display: block;
    background-color: #e8e8e8;
    margin: 0;
    padding: 0;
}

div.searchbox {
    display: block;
    float: left;
    /*width: 300px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

form.searchbox {
    display: block;
    float: left;
    /*width: 300px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

label.blue {
    color: #555758;
    font-family: "Times New Roman";
}

label {
    color: #555758;
    font-family: "Times New Roman";
}

.blue {
    color: #555758;
}

.entity-header {
    color: #555758;
    font-size: 15px;
}

.cafeta {
    font-family: "Times New Roman";
}

.info-label {
    color: #555758;
    font-weight: bold;
    font-family: "Times New Roman";
}

.info-title {
    margin-top: 5px;
    color: white;
    font-size: 18px;
    font-family: "Times New Roman";
}

.info-text {
    margin-top: -5px;
    margin-left: 15px;
    color: white;
    font-size: 18px;
    font-family: "Times New Roman";
}

.info-text > a {
    font-size: 18px;
    color: #9abdca; /* #a8cedd */
}

.info-text a:hover {
    color: #47a6c8 !important;
}

.info-image > img {
    width: 100%;
    border: 1px solid #9d8b5b; /* #555758 */
}

.description {
    max-height: 150px;
    overflow-y: scroll;
}

.property-label {
    font-size: 10pt;
    color: #555758;
    font-family: "Times New Roman";
}

.property-value {
    font-size: 10pt;
    color: #565350;
    font-weight: 500;
    font-family: "Times New Roman";
}

.property-box {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 300px;
}

.property-divider {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border: 0;
    border-top: 1px solid #555758;
}

.entity-divider {
    border-color: #555758;
}

.entity-box {
    overflow-y: scroll;
    max-height: 250px;
}

.web-page-box {
    overflow-y: scroll;
    max-height: 250px;
}

/* for autocomplete */
.ui-menu-item {
    z-index: 999;
}

.fa.fa-spinner.fa-spin {
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 50%
}

.overlay {
    position: absolute; /* Sit on top of the page content */
    /*display: none; *//* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(93, 74, 41, 0.22);
    /*background-color: rgba(0,0,0,0.5); *//* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.form-group {
    margin-bottom: 5px !important;
}

.external-link img {
    height: 30px;
}

.link-box {
    margin-top: 10px;
    margin-left: 0px;
}

.right-save-button {
    margin-left: 15px;
    margin-top: 5px;
}

.property-filter {
    margin-top: 10px;
}

.property-filter a {
    float: right;
}

.entity-box {
    max-height: 300px;
    height: 300px;
    overflow-y: scroll
}

.web-page-box {
    max-height: 300px;
    height: 300px;
    overflow-y: scroll
}

.memory-box {
    max-height: 600px;
    height: 600px;
    overflow-y: scroll;
    padding-left: 0;
}

.image-container {
    /*width: 100%;*/
    /*max-width: 150px;*/
    max-height: 300px;
    /*height: 300px;*/
}

.memory-image {
    border-radius: 3%;
    max-height: 230px;
    /*width: 100%;*/
    max-width: 100%;
}

.memory-box-text {
    line-height: 230px;
    text-align: center;
    border: 2px dashed #f69c55;
    color: #555758;
}

.entity-text {
    text-align: center;
    color: #555758;
    text-decoration: none;
}

.entity-text:focus, .entity-text:hover {
    color: #23527c;
    text-decoration: none !important;
}

.memory-box-row {
    overflow-y: scroll;
}

.category-sticker {
    padding-right: 10px;
    height: 100%;
    width: 20px;
}

.category-sticker label {
    transform: rotate(90deg);
    padding-left: 10px;
}

.category-header {
    margin-left: 10px;
}

/* pinterest style columns */
#columns {
    column-width: 190px;
    column-gap: 15px;
    width: 90%;
    max-width: 1100px;
    margin: 15px auto;
}

div#columns figure {
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    /*transition: opacity .4s ease-in-out;*/
    display: inline-block;
    column-break-inside: avoid;
    border-radius: 3%;
}

div#columns figure img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    /*padding-bottom: 15px;*/
    margin-bottom: 5px;
    border-radius: 3%;
}

div#columns figure figcaption {
    font-size: 1.1rem;
    /*color: #444;*/
    line-height: 1.5;
    text-align: center;
    color: #555758;
}

div#columns small {
    font-size: 1rem;
    float: right;
    text-transform: uppercase;
    color: #aaa;
}

div#columns small a {
    color: #666;
    text-decoration: none;
    transition: .4s color;
}

div#columns:hover figure:not(:hover) {
    /*opacity: 0.4;*/
}

@media screen and (max-width: 750px) {
    #columns {
        column-gap: 0px;
    }

    #columns figure {
        width: 100%;
    }

    #columns .figure {
        width: 100%;
    }
}

.figure-text {
    line-height: 70px;
    /*line-height: 180px;*/
    width: 155px;
    text-align: center;
    border: 2px dashed #f69c55;
    color: #555758;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 3%;
}

.side-menu {
    width: 50px;
    height: 100%;
    /*position: absolute;*/
    /*top: 0;*/
    left: 0;
    padding-left: 0;
    padding-right: 0;
    /*display: table;*/
    overflow-y: scroll;
    max-height: 550px;
}

.side-menu-item {
    height: 66.33333%;
    display: flex;
    background: #dfddc8;
    text-align: center;
    padding: 20px 0px 20px 0px;
    margin: 10px 0px 10px 0px;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    margin-right: 22px;
}

.side-menu-item label {
    margin-left: -12px;
}

.side-menu-item.selected {
    margin-right: 0px;
}

.side-menu-item.selected label {
    margin-left: 0px;
}

.side-menu-item-wrapper {

}

.side-menu-item a {
    display: table-cell;
    vertical-align: middle;
    line-height: 50px;
    white-space: nowrap;
    max-width: 50px;
    -webkit-transform: rotate(270deg);
}

.side-menu-item:hover {
    background: #ddd
}

/*Top Menu*/
/*.top-menu {*/
/*width: 50px;*/
/*height: 100%;*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*padding-left: 0;*/
/*padding-right: 0;*/
/*display: table;*/
/*overflow-y: scroll;*/
/*max-height: 550px;*/
/*}*/

.top-menu {
    margin-left: 50px;
}

.top-menu-item {
    display: flex;
    background-color: #e1d5ad;
    text-align: center;
    padding: 3px 0px 3px 0px;
    /*margin: 10px 0px 10px 0px;*/
    /*border-top-right-radius: 30%;*/
    /*border-bottom-right-radius: 30%;*/
    border-radius: 30%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-right: 5px;
    margin-top: -20px;
    box-shadow: 0 0 5px 3px #e1d5ad;
}

.top-menu-item label {
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 15px;
}

.top-menu-item.selected {
    padding: 6px;
}

.top-menu-item.selected label {
    margin-left: 0px;
}

.top-menu-item-wrapper {
    display: inline-block;
}

.top-menu-item a {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}

.top-menu-item:hover {
    background-color: #d9cea7;
    box-shadow: 0 0 5px 3px #e1d5ad;
}

/*/*/

.pop-up {
    padding-left: 0;
    padding-right: 0;
    margin-top: 40px;
    background-color: #dfddc8;
    /*box-shadow: 10px 10px 10px #e1d5ad;*/
    box-shadow: 1px 1px 20px 20px #e1d5ad;
    /*box-shadow: 0px 0px 5px 10px #dfddc8;*/

}

.pop-up .shadow-wrapper {
    box-shadow: 0px 0px 5px 10px #dfddc8;
}

.pop-up .block {
    margin-bottom: 0;
    padding: 15px 15px 15px 15px;
    display: inline-flex;
}

.pop-up .block .notes {
    padding-top: 15px;
}

.detail-info {
    display: block;
    /*height: 300px;*/
    /*overflow-y: hidden;*/
}

.detail-info .image > img {
    width: 250px;
    /*height: 100%;*/
    border: 1px solid #9d8b5b; /* #555758 */
    float: left;
    margin-right: 15px;
}

.detail-info .text {
    max-height: 400px;
    overflow-y: scroll;
}

.detail-info .text .info-text {
    margin-left: 0;
}

.detail-info .text .info-title {
    margin-top: 0;
}

.popup .block .notes {
    padding-top: 10px;
}

.popup .block .notes textarea {

}

.pop-up-overlay {
    position: absolute; /* Sit on top of the page content */
    /*display: none; *//* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(93, 74, 41, 0.22);
    /*background-color: rgba(0,0,0,0.5); *//* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.pop-up .main-topic {
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
    width: 100%;
}

.pop-up .sub-topic {
    float: left;
    width: 25%;
    background-color: #dfddc8;
    margin: 0;
    margin-bottom: 10px;
    height: 100%;
    box-shadow: 0 0 5px 3px #dfddc8;
}

.pop-up .sub-topic .sub-topic-inner {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 100%;
}

.ngdialog-close {
    display: none;
}

.confirmation-pop-up {
    margin-top: 120px !important;
}

.confirmation-label {
    padding-bottom: 10px;
    font-size: 16px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.custom-property-add-title {
    margin-top: 5px;
    color: white;
    font-size: 18px;
    font-family: "Times New Roman";
}

.ngdialog {
    z-index: 100;
}

ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
    z-index: 200;
}

.pop-up-entity-text-input {
    border: none;
    background-color: #dfddc8;;
    box-shadow: none;
    color: white;
}

.custom-property-add-title {
    font-weight: 900;
}

.custom-property-add-title a {
    color: white;
    text-decoration: none
}

.custom-property-add-title a.hover {
    color: white;
    text-decoration: none
}

.custom-property-add-title a.selected {
    font-weight: 900;
}

.custom-property-add-title a.not-selected {
    font-weight: 500;
}

.custom-property-add-title a.show {
    display: inherit !important;
}

.show-custom-properties {
    overflow-y: scroll;
    width: 400px;
}

.show-add-custom-properties .property-box {
    max-width: 400px;
    height: 150px;
}

.edit-topic .notes textarea {
    height: 190px;
}

.edit-topic .property-box .property-value {
    color: white;
}

.edit-topic .property-box .property-divider {
    border-color: white;
}

.show-add-custom-properties {
    width: 500px;
}

.show-add-custom-properties .filter {
    float: right;
}

.show-add-custom-properties .filter a {
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.show-add-custom-properties .filter a.hover {
    color: white;
    text-decoration: none
}

.show-add-custom-properties .filter a.selected {
    font-weight: 700;
}

.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
}

.context-menu--active {
    display: block;
}

.custom-annotation-results {
    display: none;
    list-style: none;
    border: solid 1px #d1cfba;
    position: absolute;
    background: #dfddc8;
    width: 200px;
}

.custom-annotation-results a li {
    display: block;
    width: 10px;
    height: 20px;
    margin-left: -35px;
    margin-top: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    width:190px;
    list-style-position:inside;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-annotation-results a:hover li {
    background: #8f8d7a;
    width:190px;
}

.custom-annotation-results a:hover {
    text-decoration: none;
}