<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Historical Istanbul</title>
    <meta name="description" content="Historical Istanbul">

    <script src="static/semantic/js/lib/d3.v3.min.js"></script>

    <link rel="stylesheet" href="static/semantic/js/lib/jquery-ui.css">
    <script src="static/semantic/js/lib/jquery.min.js"></script>
    <script src="static/semantic/js/lib/jquery-ui.js"></script>
    <script src="static/semantic/js/lib/underscore-min.js"></script>
    <script src="static/semantic/js/lib/angular.min.js"></script>

    <!--Leaflet-->
    <link rel="stylesheet" href="static/semantic/js/lib/leaflet.css"/>
    <script src="static/semantic/js/lib/leaflet.js"></script>

    <!--Bootstrap -->
    <link rel="stylesheet" href="static/semantic/js/lib/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"-->
    <!--integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
    <script src="static/semantic/js/lib/bootstrap.min.js"></script>

    <link rel="stylesheet" href="static/semantic/style/historical_istanbul.css?v=1">
    <script src="static/semantic/js/lib/xml2json.js"></script>
    <script src="static/common/util.js"></script>
    <script src="static/semantic/js/lod-utils.js"></script>
    <script src="static/semantic/js/historical_istanbul.js"></script>
</head>

<body ng-app="app" ng-controller="Controller">
<span id="ruler"></span>

<div class="wrapper">
    <header>
        <div id="searchbox" class="searchbox form-inline">
            <img src="static/semantic/img/buyutec.png" class="buyutec" style="margin-right: 10px;"/>

            <div name="searchForm" class="form-inline pl-4">
                <input type="text" class="form-control" id="searchinput" name="searchinput" value="">
                <input type="button" class="btn btn-default" value="Save" ng-click="savePlace()">
            </div>
        </div>
    </header>

    <div id="core" class="core clearfix">
        <section class="space">
            <!--<div class="row">-->
            <!--<div class="col-md-8">-->
            <div id="map" class="map">

            </div>
            <!--</div>-->
            <!--<div class="col-md-4"></div>-->
            <!--</div>-->
        </section>

        <section class="right">
            <div class="right_inner">
                <div ng-if="selectedPlace" class="">
                    <div>
                        <!--<label class="info-label mb-15">image:</label>-->

                        <div class="info-image">
                            <img ng-if="selectedPlace.smallImage && imgLocal(selectedPlace.smallImage)"
                                 ng-src="historicalIstanbul/api/image/{{selectedPlace.smallImage}}"/>
                            <img ng-if="selectedPlace.smallImage && !imgLocal(selectedPlace.smallImage)"
                                 ng-src="{{selectedPlace.smallImage}}"/>
                        </div>
                    </div>


                    <div ng-if="selectedPlace" class="form-group">
                        <label class="right-label mb-5">{{selectedPlace.name}}</label>

                        <div class="my-text description">{{selectedPlace.shortDescription}}</div>
                    </div>

                    <div ng-if="selectedPlace" class="form-group">
                        <!--<label class="info-label mb-15">description:</label>-->
                        <hr style="color:white; margin-top: 10px; margin-bottom:15px;">

                        <div class="my-text description">{{selectedPlace.description}}</div>
                    </div>
                    <!--<div class="row info-box">-->
                        <!--<div class="col-md-3">-->
                            <!--<div class="">-->
                                <!--<label class="infobox-label">Architect</label>-->
                                <!--<span class="infobox-value">Mimar</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="row link-box">
                        <div ng-if="selectedPlace && selectedPlace.dbpediaUri" class="form-group col-md-3">
                            <div class="external-link">
                                <a ng-href="{{selectedPlace.dbpediaUri}}" target="_blank">
                                    <img src="static/knowledge-base/img/dbpedia.png"/>
                                </a>
                            </div>
                        </div>
                        <div ng-if="selectedPlace && selectedPlace.wikidataId" class="form-group  col-md-3">
                            <div class="external-link">
                                <a ng-href="https://www.wikidata.org/wiki/{{selectedPlace.wikidataId}}"
                                   target="_blank">
                                    <img src="static/knowledge-base/img/wikidata_text.png"/>
                                </a>
                            </div>
                        </div>
                        <div ng-if="selectedPlace && selectedPlace.wikipediaUri" class="form-group  col-md-3">

                            <div class="external-link">
                                <a ng-href="{{selectedPlace.wikipediaUri}}" target="_blank">
                                    <img src="static/knowledge-base/img/wikipedia.png"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

</body>
</html>

<script type="text/javascript">
    var map = L.map('map').setView([41.05104, 29.00132], 13);

    var HOT = L.tileLayer('http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, Tiles courtesy of <a href="http://hot.openstreetmap.org/" target="_blank">Humanitarian OpenStreetMap Team</a>'
    });

    //    var STANDARD = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    //        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    //    });

    HOT.addTo(map);
</script>