<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>KnowledgeBase</title>
    <meta name="description" content="KnowledgeBase">

    <script src="static/knowledge-base/js/lib/d3.v3.min.js"></script>

    <link rel="stylesheet" href="static/knowledge-base/js/lib/jquery-ui.css">
    <script src="static/knowledge-base/js/lib/jquery.min.js"></script>
    <script src="static/knowledge-base/js/lib/jquery-ui.js"></script>
    <script src="static/knowledge-base/js/lib/underscore-min.js"></script>
    <script src="static/knowledge-base/js/lib/angular.min.js"></script>

    <!--Leaflet-->
    <link rel="stylesheet" href="static/knowledge-base/js/lib/leaflet.css"/>
    <script src="static/knowledge-base/js/lib/leaflet.js"></script>

    <!--Bootstrap -->
    <link rel="stylesheet" href="static/knowledge-base/js/lib/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"-->
    <!--integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
    <script src="static/knowledge-base/js/lib/bootstrap.min.js"></script>

    <link rel="stylesheet" href="static/knowledge-base/style/style.css?v=1">
    <link rel="stylesheet" href="static/knowledge-base/style/my-common.css?v=1">
    <script src="static/knowledge-base/js/lib/xml2json.js"></script>
    <script src="static/common/util.js"></script>
    <script src="static/knowledge-base/js/lod-utils.js"></script>
    <script src="static/knowledge-base/js/wikidata.js"></script>
    <script src="static/knowledge-base/js/dbpedia.js"></script>
    <script src="static/knowledge-base/js/knowledge-base.js"></script>
</head>

<body ng-app="app" ng-controller="Controller">

<div class="wrapper" style="display: none;">
    <header>
        <div id="searchbox" class="searchbox form-inline">
            <img src="static/semantic/img/buyutec.png" class="buyutec" style="margin-right: 10px;"/>

            <div name="searchForm" class="form-inline pl-4">
                <input type="text" class="form-control" id="searchinput" name="searchinput" value="">
            </div>
        </div>
    </header>

    <div class="core clearfix">
        <section class="space container">
            <div class="row">
                <div class="col-3">
                    <form>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="blue">Entity</label>
                                <input type="text" class="form-control" id="entity-input">
                            </div>
                            <div class="form-group">
                                <label class="blue">Category</label>
                                <input type="text" class="form-control" id="category-input">
                            </div>
                            <div class="form-group">
                                <input type="button" class="btn btn-default blue" value="Save" ng-click="saveEntity()">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-5">
                    <div class="col-md-12" class="entity-box">
                        <ul>
                            <li style="list-style: none;" ng-repeat="e in entities">
                                <a href ng-click="showEntity(e)">{{e.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <br/><br/><br/>

                    <div class="col-md-12">
                        <hr style="border-color: white;">
                    </div>
                    <br/>

                    <div class="col-md-12" class="web-page-box">
                        <ul>
                            <li style="list-style: none;" ng-repeat="e in webPages">
                                <a href ng-click="showEntity(e)">{{e.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 property-box" ng-show="selectedEntity.entityType != 'web-page'">
                    <label class="blue">
                        Properties
                    </label>

                    <div ng-repeat="property in selectedEntity.properties">
                        <label class="property-label">Name : </label>
                        <label class="property-value">{{property.name}}</label>
                        <br>
                        <label class="property-label">Value : </label>
                        <label class="property-value">{{property.value}}</label>
                    </div>
                </div>
                <div class="col-md-4 property-box" ng-show="selectedEntity.entityType == 'web-page'">
                    <label class="blue">
                        Entities
                    </label>

                    <div ng-repeat="entity in selectedEntity.annotationEntities">
                        <label class="property-value">{{entity.name}}</label>
                    </div>
                </div>
            </div>

        </section>

        <section class="right">
            <div class="right_inner">
                <div>
                    <label class="info-label mb-15">node:</label>

                    <div class="info-text">{{selectedEntity.name}}</div>
                </div>

                <div>
                    <label class="info-label mb-15">description:</label>

                    <div class="info-text description">{{selectedEntity.description}}</div>
                </div>

            </div>
        </section>
    </div>
</div>

</body>
</html>