html {
    height: 100%;
}

body {
    background-color: #e8e8e8;
    margin: 0;
    padding: 0;
    height: 100%;
}

@font-face {
    font-family: Cafeta;
    src: url('CAFETA__.TTF');
}

@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('/static/semantic/fonts/modernpics-webfont.eot');
    src: url('/static/semantic/fonts/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/semantic/fonts/modernpics-webfont.woff') format('woff'),
    url('/static/semantic/fonts/modernpics-webfont.ttf') format('truetype'),
    url('/static/semantic/fonts/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

.text {
    font-family: Cafeta, serif;
}

#ruler {
    visibility: hidden;
    white-space: nowrap;
}

.wrapper {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    display: block;
    background-color: #006bff;
    height: 50px;
}

img.buyutec {
    float: left;
    width: 30px;
    height: 30px;
}

input.searchinput {
    margin-left: 15px;
    width: 180px;
    height: 20px;
}

/* page core */
div.core {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    height: 100%;
}

section.space {
    /*background-image: url('/images/background.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 80%;
    float: left;
}

section.right {
    float: left;
    width: 20%;
    background-color: #e8e8e8;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    height: 100%;
}

div.right_inner {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 100%;
}

footer {
    display: block;
    background-color: #e8e8e8;
    margin: 0;
    padding: 0;
}

div.searchbox {
    display: block;
    float: left;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.right-label {
    color: #006bff;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 5px;
    font-family: Cafeta, serif;
}

.description {
    max-height: 150px;
    overflow-y: scroll;
    /*font-weight: bold;*/
}

.my-text {
    margin-top: -15px;
    margin-left: 15px;
    color: white;
    font-size: 18px;
    font-family: Cafeta, serif;
}

#map {
    height: 100%;
    z-index: 99
}

.ui-menu-item {
    z-index: 999;
}

.external-link img {
    height: 30px;
}

.info-image > img {
    width: 100%;
    border: 1px solid #555758;
}