html {
    height: 100%;
}

body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    height: 100%;
}

@font-face {
    font-family: Cafeta;
    src: url('CAFETA__.TTF');
}

@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('/static/semantic/fonts/modernpics-webfont.eot');
    src: url('/static/semantic/fonts/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/semantic/fonts/modernpics-webfont.woff') format('woff'),
    url('/static/semantic/fonts/modernpics-webfont.ttf') format('truetype'),
    url('/static/semantic/fonts/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

.text {
    font-family: Cafeta, serif;
}

#ruler {
    visibility: hidden;
    white-space: nowrap;
}

div#wrapper {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    display: block;
    background-color: #006bff;
    height: 50px;
}

div#artist {

}

label#artist_label {
    color: #006bff;
    font-weight: bold;
}

label#artist_text {
    margin-top: -15px;
    margin-left: 15px;
    color: #4D4D4D;
    font-size: 25px;
    font-weight: bold;
}

div#searchbox {
    display: block;
    float: left;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.fs-button {
    z-index: 100;
    display: inline-block;
    width: 32px;
    height: 32px;
    position: absolute;
    rightright: 10px;
    cursor: pointer;
}

.fs-button:after {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 32px;
    font-family: 'ModernPictogramsNormal';
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    content: "v";
}

.fs-button:hover:after {
    color: rgb(255, 255, 255);
}

img#buyutec {
    float: left;
    width: 30px;
    height: 30px;
}

input#searchinput {
    margin-left: 15px;
    width: 180px;
    height: 20px;
}

img#logo {
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    width: 178px;
    height: 40px;
}

/* page core */
div#core {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    height: 100%;
}

section#space {
    /*background-image: url('/images/background.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 80%;
    float: left;
}

div#graph {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

svg {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

section#right {
    float: left;
    width: 20%;
    background-color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    height: 100%;
}

div#right_inner {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 100%;
}

div#artist {

}

label#artist_label {
    color: #006bff;
    font-weight: bold;
}

label#artist_text {
    margin-top: -15px;
    margin-left: 15px;
    color: #4D4D4D;
    font-size: 25px;
    font-weight: bold;
}

div#video {
    margin-top: 15px;
    padding: 0;
    height: 120px;
    width: 30px;
}

div#playlist {
    height: 66%;
}

label#playlist_label {
    color: #4D4D4D;
    font-size: 12px;
    font-weight: bold;
}

div#playlist_inner {
    background-color: #4D4D4D;
    margin-right: 10px;
    padding: 0;
    height: 100%;
    width: 100%;
}

circle {
    stroke: #006bff;
}

.link {
    stroke: #006bff;
}

.node text {
    pointer-events: none;
    font-size: 12pt;
    font-weight: bold;
    /*fill: #4D4D4D;*/
    fill: #d9c53f;
    z-index: 99;
}

footer {
    display: block;
    background-color: #4D4D4D;
    margin: 0;
    padding: 0;
}

/* clearfix */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.info-text {
    color: #4D4D4D;
}

.info-title {
    color: #4D4D4D;
}

.album-box-edge {
    height: 350px;
    width: 300px;
    background-color: #006bff;
    position: absolute;
    top: 350px;
    left: 25px;
    opacity: 0.9;
}

.album-box {
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
    height: 330px;
    width: 280px;
    overflow-y: scroll;
}

/* Accordion */
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

.show_names {
    position: absolute !important;
    top: 50px;
    right: 300px;
}

/* coloring */
.album-box {
    background-color: #66b2dd;
    /*background-color : #8787ff;*/
    box-shadow: 1px 1px 20px 20px #6892fc;

}

.album-box-edge {
    /*background-color: #3791ca;*/
    background-color: #4f9aff;
}

.selected-circle {
    z-index: -1;
}

button.accordion {
    background-color: #66b2dd;
}

button.accordion.active, button.accordion:hover {
    background-color: #85ceee;
}

header {
    /*background-color: #66b2dd;*/
    background-color: #779ce8;
}

section#right {
    background: none;
}

.info-title, .info-text {
    /*color: #d9c53f;*/
    color: #fff;
}

.pop-up .shadow-wrapper {
    box-shadow: 0px 0px 5px 10px #71a5df;
}

.pop-up {
    background-color: #71a5df;
    box-shadow: 1px 1px 20px 20px #6892fc;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.pop-up .block {
    padding-bottom: 5px;
}

.side-menu-wrapper {
    position: absolute;
    top: 150px;
    left: -120px;
    width: 150px;
}

.side-menu {

}

.menu-item {
    width: 200px;
}

.menu-item a {
    color: #f6f328;
}

.side-menu-icon {
    margin-bottom : 30px;
}

.side-menu-icon img {
    width: 30px;
    float: right;
}